<div class="accounts-card">
    <p class="name"> {{fname}} {{lname}} </p>
    <p class="username"> {{username}} </p> <br>
    <button value={{id}} class="global-button view-userButton">View Profile</button>
</div>