{{> wrapper_header page_title='Manage User Accounts'}}
<div class="container User-Container">
    <div id="accounts-container">
        {{#each accountCard}}
            {{> accountCard}}
        {{/each}}
    </div>
</div>
{{> wrapper_footer}}