{{> wrapper_header page_title='Manage User Accounts'}}
<div class="container User-Container">
    <p>{{fname}}</p>
    <p>{{lname}}</p>
    <a href="/hmanageusers"><button id= {{id}} class="global-button Terminate-User">Terminate Account</button></a>
</div>
{{> wrapper_footer}}