{{> wrapper_header page_title='Feedback'}}

<div class = "Details">
    <h1 class="carModel">{{car}}</p>
    <h3 class="JobType">Job Type: {{Type}}</h3>
    <h3 class="clientName">Client: {{client}}</h3>
    <h3 class="requestNo">Request No.: {{id}}</h3>
</div>

<div class="container contact-container">
    <div id="feedback-container">
        {{#each feedbackcard}}
            {{> feedbackcard}}
        {{/each}}
    </div>
    <br>
    <form class="hostReply" id="feedback_form">
        <input type="Text" id="Feedback_box" placeholder="Reply">
    </form> <br>
</div>

{{> wrapper_footer}}