{{> wrapper_header page_title='Feedback'}}

<div class="container contact-container">
    <div id="feedback-container">
        {{#each feedbackcard}}
            {{> feedbackcard}}
        {{/each}}
    </div>
    <form class="feedback_form", >
        <input type="Text" class="Feedback_box" id={{id}} placeholder="Add Feedback">
    </form>
</div>

{{> wrapper_footer}}

